[Unit]
#
# Install: (MUST NOT BE ROOT, use SUDO!!!)
#     sudo cp start_minecraft_je.service /etc/systemd/system/start_minecraft_je.service
#     sudo systemctl enable start_minecraft_je.service
#
#
Description=Autostart Minecraft Java Edition (For PC)
# After=network.target
# After=systemd-user-sessions.service
# After=network-online.target

[Service]
# User=spark
# Type=simple
# PIDFile=/run/my-service.pid
ExecStart=/home/ubuntu/minecraft-je/start_mcje.sh
# ExecReload=/home/ubuntu/minecraft-je/start_mcje.sh reload
# ExecStop=/home/ubuntu/minecraft-je/start_mcje.sh stop
# TimeoutSec=30
# Restart=on-failure
# RestartSec=30
# StartLimitInterval=350
# StartLimitBurst=10

[Install]
WantedBy=multi-user.target
