$ sudo systemctl cat resilio-sync.service
# /lib/systemd/system/resilio-sync.service
[Unit]
Description=Resilio Sync service
Documentation=http://help.getsync.com/
After=network.target network-online.target

[Service]
Type=forking
User=rslsync
Group=rslsync
UMask=0002
Restart=on-failure
PermissionsStartOnly=true
PIDFile=/var/run/resilio-sync/sync.pid
ExecStartPre=/bin/mkdir -p /var/run/resilio-sync
ExecStartPre=/bin/chown -R rslsync:rslsync /var/run/resilio-sync
ExecStart=/usr/bin/rslsync --config /etc/resilio-sync/config.json

[Install]
WantedBy=multi-user.target

# /etc/systemd/system/resilio-sync.service.d/override.conf
[Service]
User=www-data
Group=www-data
PIDFile=/home/cgray/.config/resilio-sync/sync.pid
ExecStartPre=
ExecStart=
ExecStart=/usr/bin/rslsync --config /home/cgray/.config/resilio-sync/config.json
